<?php 

 return array (
  'DB_DRIVER' => 'mysql',
  'DB_HOST' => 'mariadb',
  'DB_PORT' => '3306',
  'DB_USER' => 'root',
  'DB_PASSWORD' => 'root',
  'DB_NAME_1' => 'test',
  'DB_NAME_2' => 'try',
);