name: TESTS

on:
  push:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ${{ matrix.operating-system }}

    strategy:
      matrix:
        operating-system: [ubuntu-latest]
        php-versions: ['5.4']
        # php-versions: ['5.4', '5.6', '7.3', '7.4', '8.0', '8.1', '8.2', '8.3']

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_USER: user
          MYSQL_PASSWORD: root
        ports:
          - 3306:3306
        options: --health-cmd "mysqladmin ping -h 127.0.0.1" --health-interval 20s --health-timeout 10s --health-retries 10

    steps:
    - name: PHP ${{ matrix.php-versions }} Test on ${{ matrix.operating-system }}
      uses: actions/checkout@v3

    - name: Run SQL script
      env:
        DB_HOST: 127.0.0.1
        DB_USER: user
        DB_PASSWORD: root
      run: |
        docker exec -i mysql -h $DB_HOST -u $DB_USER -p$DB_PASSWORD $DB_NAME -e "CREATE DATABASE IF NOT EXISTS `test`;"
        docker exec -i mysql -h $DB_HOST -u $DB_USER -p$DB_PASSWORD $DB_NAME -e "CREATE DATABASE IF NOT EXISTS `try`;"

    - name: Install PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}
        extensions: intl #optional
        ini-values: "post_max_size=256M" #optional

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-${{ matrix.php-versions }}

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress

    # Add a test script to composer.json, for instance: "test": "vendor/bin/phpunit"
    # Docs: https://getcomposer.org/doc/articles/scripts.md

    - name: set env
      run: cp tests/.env.example tests/.env

    - name: Run test
      run: vendor/bin/phpunit
